// Main Colors
$white: #ffffff;
$black: #000000;
$main: #048f92;
$primary: #0ca9ac;

$bg: #1f252d;
$footer: #20262e;

// Secondary Colors
$secondary-gray: #5b708f;

// Button Colors
$button_hover: #3ec8c9;
$button_active: #037578;

// System Colors
$error: #d63842;

// Gray Scale Colors
$gray_scale_55: #84878d;
$gray_scale_77: #bec0c4;
$gray_scale_92: #e4e6eb;
$gray_scale_95: #f2f2f2;
$gray_77: #c4c4c4;
$gray_5: #e0e0e0;
$gray_4: #bdbdbd;
$gray_3: #828282;
$gray_2: #595959;
$gray_1: #333333;

// Green
$light_green: #dcedee;

// Borders
$border-color: #e5e5e5;
$border-color-dark: #475260;
