.container {
  position: relative;

  &__controls {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 89%;
    margin: auto;
    max-width: calc(#{$wide-l} * 89 / 100);
    left: 0;
    right: 0;
    bottom: 75px;
    padding-bottom: 15px;
    border-bottom: 2px solid rgba($white, 0.5);
    z-index: 1;

    @include tablets {
      bottom: 30px;
    }

    .progressbar {
      position: absolute;
      bottom: -2px;
      background-color: white;
      height: 2px;
      transition: 250ms linear;
    }

    &_item {
      @extend %button_medium;
      transition: all 0.4s ease-in-out;
      position: relative;

      @include tablets {
        font-size: 10px;
      }

      @include phones {
        display: none;
      }

      span {
        margin-right: 12px;

        @include tablets {
          margin-right: 5px;
        }
      }

      &:after {
        content: '';
        position: absolute;
        height: 2px;
        width: 120px;
        left: 0;
        bottom: -17px;
        background-color: transparent;
      }

      &:hover {
        cursor: pointer;
        opacity: 1;
      }

      &_normal {
        opacity: 0.5;
      }
      &_active {
        opacity: 1;
      }
    }
  }
}
