@import '~/styles/colors.scss';

.wrapper {
  &__title {
    font-size: 36px;
    font-weight: 500;
  }

  &__description {
    color: $gray_3;
    font-size: 14px;
    font-weight: 400;
    margin: 26px 0 32px;
  }

  &__item {
    margin-bottom: 30px;
  }
}
