.container {
  background-color: $bg;
  padding-top: $header_height;
  margin-top: -$header_height;
  min-height: 500px;

  &__video {
    position: relative;
    video {
      width: 100%;

      @include laptop {
        min-height: 740px;
        height: 100vh;
        object-fit: cover;
      }

      @include phones {
        min-height: 700px;
        height: auto;
      }
    }

    &:after {
      content: '';
      background: linear-gradient(180deg, rgba($bg, 0) 0, $bg 135%);
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      height: 150px;
    }
  }

  &__wrapper {
    position: absolute;
    display: flex;
    top: 0;
    height: 100%;
    margin: auto;
    left: 0;
    right: 0;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 89%;
    margin: auto;
    max-width: calc(#{$wide-l} * 89 / 100);
    padding-bottom: 65px;

    @include tablets {
      padding-bottom: 0;
    }
  }

  &__heading {
    max-width: 900px;
    margin-top: 45px;
    margin-bottom: 52px;
    height: 320px;

    @include tablets {
      margin: 0 0 30px 0;
      height: auto;
      min-height: 320px;
    }

    @include phones {
      margin-bottom: 40px;
      min-height: auto;
    }

    h1 {
      @include phones {
        font-size: 36px;
        line-height: 53px;
      }
    }
  }

  &__gutter {
    margin-right: 22px;
  }

  &__buttons {
    button {
      @include phones {
        padding: 17px 18px;
      }
    }
  }
}
